:root {
    --shadow-color: lightgray;
    --dark-shadow-color: gray;
    --white: #ffffff;
  }

* {
    margin: 0; 
    padding: 0; 
    /* The width and height properties (and min/max properties) includes content, padding and border
    */
    box-sizing: border-box;
}

body {
    display: flex;

    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* minimum height of an element. vh: viewport height */
    /* */
}

.clock {
    width: 350px;
    height: 350px;
    background: url(clock.png);
    background-color: lightgrey; 
    /* Resize the background image to 
        cover the entire container, even if it has to stretch the image 
        or cut a little bit off one of the edges
    */
    background-size: cover;       

    border: 4px solid #09192167;
    border-radius: 50%;     /* make the clock round*/
    /*
    Clock shadow :

        h-offset
        v-offset
        blur Optional. The blur radius. The higher the number, the more blurred the shadow will be
        spread Optional. The spread radius. A positive value increases the size of the shadow,
         a negative value decreases the size of the shadow

         several coma separated values are possible

    */
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), 
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center; /* to center the needles*/
    align-items: center; /* to center the needles*/
}

/*
 * the point in the midlle of the clock
 */
.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #505050;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 160px;
    height: 160px;
    z-index: 800;
}

.clock .min,
.mn {
    width: 190px;
    height: 190px;
    z-index: 1000;
}

.clock .sec,
.sc {
    width: 230px;
    height: 230px;
    z-index: 1400;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
    box-shadow: 3px 3px 3px grey;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: blue;
    z-index: 11;
    border-radius: 6px 6px 0 0;
    box-shadow: 4px 4px 4px grey;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: black;
    z-index: 12;
    border-radius: 6px 6px 0 0;
    box-shadow: 5px 5px 5px grey;
}